<main class="main">
    <div id="carouselLendingSlide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag("lending.jpg", alt: "Lending", class: "lending d-block") %>
            <div class="carousel-caption d-none d-md-block" style="padding-bottom: 200px">
                <p>Добро пожаловать в нашу компанию!</p>
                <h1>Медтехника</h1>
                <button type="button" class="btn btn-light">Продукция</button>
                <button type="button" class="btn btn-light">Свяжитесь с нами!</button>
            </div>
        </div>
      </div>
    </div>
    
    <section class="we-do text-center">
        <h2>Чем мы занимаемся?</h2>
        <div class="container">
            <div class="we-do-details">
                <div class="row">
                    <div class="col-md-4 we-do-description">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="64" height="64"
                            viewBox="0 0 251 251"
                            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,251.98863v-251.98863h251.98863v251.98863z" fill="none"></path><g id="Слой_1" fill="#c0392b"><path d="M215.70313,70.59375h-137.26562v-19.60937c0,-6.48678 -5.27884,-11.76562 -11.76562,-11.76562h-31.375c-6.48678,0 -11.76562,5.27884 -11.76562,11.76563c0,6.48678 5.27884,11.76563 11.76563,11.76563h35.29688v11.76563v3.92188v15.6875h105.89063v-7.84375h-98.04687v-7.84375h137.26563c2.16487,0 3.92188,1.757 3.92188,3.92188v15.6875c0,3.68264 -1.757,7.20056 -4.70233,9.4125l-52.2982,39.21875c-2.01977,1.51777 -4.52584,2.35313 -7.05545,2.35313h-73.20964c-6.48678,0 -11.76562,5.27884 -11.76562,11.76563v12.16173c-8.93795,1.82367 -15.6875,9.74194 -15.6875,19.21327c0,10.81261 8.79677,19.60938 19.60938,19.60938c9.47133,0 17.38959,-6.74955 19.21327,-15.6875h32.16722c1.82367,8.93795 9.74194,15.6875 19.21327,15.6875c10.81261,0 19.60938,-8.79677 19.60938,-19.60937c0,-10.81261 -8.79677,-19.60937 -19.60937,-19.60937c-9.47133,0 -17.38959,6.74955 -19.21327,15.6875h-32.16722c-1.56483,-7.67119 -7.6202,-13.72656 -15.29139,-15.29139v-12.16173c0,-2.16487 1.757,-3.92187 3.92188,-3.92187h73.20964c4.21602,0 8.39673,-1.39227 11.7617,-3.92187l52.2982,-39.21875c4.91019,-3.68264 7.83983,-9.55369 7.83983,-15.6875v-15.6875c0,-6.48678 -5.27884,-11.76562 -11.76562,-11.76562zM35.29688,54.90625c-2.16487,0 -3.92187,-1.757 -3.92187,-3.92187c0,-2.16487 1.757,-3.92187 3.92188,-3.92187h31.375c2.16487,0 3.92188,1.757 3.92188,3.92188v3.92188zM145.10938,180.40625c6.48678,0 11.76563,5.27884 11.76563,11.76563c0,6.48678 -5.27884,11.76563 -11.76562,11.76563c-6.48678,0 -11.76562,-5.27884 -11.76562,-11.76562c0,-6.48678 5.27884,-11.76562 11.76563,-11.76562zM86.28125,192.17188c0,6.48678 -5.27884,11.76563 -11.76562,11.76563c-6.48678,0 -11.76562,-5.27884 -11.76562,-11.76562c0,-6.48678 5.27884,-11.76562 11.76563,-11.76562c6.48678,0 11.76563,5.27884 11.76563,11.76563z"></path><rect x="18" y="26" transform="scale(3.92188,3.92188)" width="22" height="2"></rect><rect x="18" y="30" transform="scale(3.92188,3.92188)" width="16" height="2"></rect><rect x="18" y="34" transform="scale(3.92188,3.92188)" width="10" height="2"></rect><circle cx="37" cy="49" transform="scale(3.92188,3.92188)" r="3"></circle><circle cx="19" cy="49" transform="scale(3.92188,3.92188)" r="3"></circle></g></g>
                        </svg>
                        <h5>Продажа медицинского оборудования</h5>
                        <p>В нашем розничном магазине представлен широкий ассортимент медицинских товаров различного назначения, в том числе: тонометры, термометры, ингаляторы, стетоскопы, бандажи, корсеты, медицинская одежда и многое другое.</p>
                    </div>
                    <div class="col-md-4 we-do-description">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="64" height="64"
                            viewBox="0 0 251 251"
                            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,251.98863v-251.98863h251.98863v251.98863z" fill="none"></path><g id="Слой_1" fill="#c0392b"><path d="M160.79688,70.59375h-31.375v-31.375h-7.84375v31.375h-31.375v7.84375h31.375v31.375h7.84375v-31.375h31.375z"></path><path d="M184.32813,156.875h-23.53125c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v31.375h39.21875v-31.375c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375zM184.32813,188.25h-23.53125v-23.53125h23.53125z"></path><path d="M160.79688,101.96875c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v31.375h39.21875v-31.375c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375zM184.32813,133.34375h-23.53125v-23.53125h23.53125z"></path><path d="M90.20313,156.875h-23.53125c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v31.375h39.21875v-31.375c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375zM90.20313,188.25h-23.53125v-23.53125h23.53125z"></path><path d="M90.20313,101.96875h-23.53125c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v31.375h39.21875v-31.375c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375zM90.20313,133.34375h-23.53125v-23.53125h23.53125z"></path><rect x="27" y="34" transform="scale(3.92188,3.92188)" width="10" height="2"></rect><rect x="31" y="46" transform="scale(3.92188,3.92188)" width="2" height="4"></rect><path d="M215.70313,78.4375v-7.84375c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375h-32.09662c-1.62366,-4.5533 -5.93772,-7.84375 -11.044,-7.84375h-19.60937v-19.60937c0,-6.48678 -5.27884,-11.76562 -11.76562,-11.76562h-15.6875c-6.48678,0 -11.76562,5.27884 -11.76562,11.76563v19.60938h-19.60937c-5.10628,0 -9.42034,3.29045 -11.044,7.84375h-32.09663c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v7.84375c0,4.32583 3.51792,7.84375 7.84375,7.84375v133.34375h-7.84375v7.84375h7.84375h3.92188h156.875h3.92188h7.84375v-7.84375h-7.84375v-133.34375c4.32583,0 7.84375,-3.51792 7.84375,-7.84375zM207.85938,78.4375h-31.375v-7.84375h31.375zM82.35938,66.67188c0,-2.16095 1.757,-3.92187 3.92188,-3.92187h27.45313v-27.45312c0,-2.16095 1.757,-3.92187 3.92188,-3.92187h15.6875c2.16487,0 3.92188,1.76092 3.92188,3.92188v27.45313h27.45313c2.16487,0 3.92188,1.76092 3.92188,3.92188v15.6875c0,2.16095 -1.757,3.92188 -3.92187,3.92188h-27.45312v27.45313c0,2.16095 -1.757,3.92188 -3.92187,3.92188h-15.6875c-2.16487,0 -3.92187,-1.76092 -3.92187,-3.92187v-27.45312h-27.45312c-2.16487,0 -3.92187,-1.76092 -3.92187,-3.92187zM43.14063,70.59375h31.375v7.84375h-31.375zM137.26563,219.625h-23.53125v-54.90625h23.53125zM200.01563,203.9375h-47.0625v7.84375h47.0625v7.84375h-54.90625v-54.90625c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375h-23.53125c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v54.90625h-54.90625v-7.84375h47.0625v-7.84375h-47.0625v-117.65625h24.25288c1.62366,4.5533 5.93772,7.84375 11.044,7.84375h19.60938v19.60938c0,6.48678 5.27884,11.76563 11.76563,11.76563h15.6875c6.48678,0 11.76563,-5.27884 11.76563,-11.76562v-19.60937h19.60938c5.10628,0 9.42034,-3.29045 11.044,-7.84375h24.25287z"></path></g></g>
                        </svg>
                        <h5>Оснащение больниц</h5>
                        <p>Мы осуществляем комплексное оснащение государственных и частных лечебных заведений современной медицинской мебелью, медицинским оборудованием, средствами реабилитации и другими специализированными сопутствующими товарами медицинской тематики.</p>
                    </div>
                    <div class="col-md-4 we-do-description">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="64" height="64"
                            viewBox="0 0 251 251"
                            style="fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,251.98863v-251.98863h251.98863v251.98863z" fill="none"></path><g id="Слой_1" fill="#c0392b"><circle cx="41" cy="51" transform="scale(3.92188,3.92188)" r="3"></circle><path d="M78.4375,125.5h-3.92187v-71.68403c2.33352,-1.36089 3.92188,-3.86305 3.92188,-6.75347v-15.6875c0,-4.32583 -3.51792,-7.84375 -7.84375,-7.84375h-15.6875c-4.32583,0 -7.84375,3.51792 -7.84375,7.84375v15.6875c0,2.89042 1.58836,5.39258 3.92188,6.75347v71.68403h-3.92187c-6.48678,0 -11.76562,5.27884 -11.76562,11.76563v62.75c0,15.13452 12.31861,27.45313 27.45313,27.45313c15.13452,0 27.45313,-12.31861 27.45313,-27.45312v-62.75c0,-6.48678 -5.27884,-11.76562 -11.76562,-11.76562zM54.90625,31.375h15.6875v15.6875h-15.6875zM58.82813,54.90625h7.84375v70.59375h-7.84375zM47.0625,133.34375h3.92188h23.53125h3.92188c2.16487,0 3.92188,1.757 3.92188,3.92188v11.76563h-39.21875v-11.76562c0,-2.16487 1.757,-3.92187 3.92188,-3.92187zM74.51563,196.09375v-39.21875h7.84375v39.21875zM43.14063,196.09375v-39.21875h7.84375v39.21875zM58.82813,156.875h7.84375v39.21875h-7.84375zM62.75,219.625c-9.47133,0 -17.38959,-6.74955 -19.21327,-15.6875h38.42653c-1.82367,8.93795 -9.74194,15.6875 -19.21327,15.6875z"></path><path d="M215.70313,66.67188c0,-24.99803 -16.49541,-43.14062 -39.21875,-43.14062h-3.92187v35.29688c0,2.16487 -1.757,3.92188 -3.92187,3.92188h-15.6875c-2.16487,0 -3.92187,-1.757 -3.92187,-3.92187v-35.29687h-3.92187c-12.08722,0 -22.70766,5.06706 -29.9043,14.26386c-8.66342,11.07145 -11.48717,27.18252 -7.54569,43.09356c3.87873,15.68358 17.24841,27.01388 33.26927,28.7042l-6.01223,90.21489c-0.47455,7.13389 2.05506,14.22072 6.94172,19.44466c4.88666,5.22002 11.78916,8.21633 18.93873,8.21633c7.15742,0 14.06777,-2.99631 18.95442,-8.21633c4.94941,-5.29453 7.41234,-12.18919 6.92995,-19.42112l-6.01223,-90.23058c20.53886,-2.07859 35.03411,-19.4878 35.03411,-42.92884zM176.4883,101.96875h-4.19248l6.55737,98.38416c0.33728,5.04353 -1.3805,9.85175 -4.82783,13.53831c-3.46302,3.69441 -8.1575,5.73378 -13.22848,5.73378c-5.05922,0 -9.74978,-2.03545 -13.20888,-5.72986c-3.45909,-3.69833 -5.17687,-8.51439 -4.83959,-13.56577l6.54561,-98.36062h-4.18856c-14.2168,0 -26.48442,-9.44388 -29.82978,-22.96258c-3.36497,-13.59322 -1.07852,-27.19036 6.11028,-36.37147c4.97294,-6.35344 11.7617,-10.12628 19.80547,-11.03616v27.22958c0,6.48678 5.27884,11.76563 11.76563,11.76563h15.6875c6.48678,0 11.76563,-5.27884 11.76563,-11.76562v-27.22566c16.35422,1.90603 27.45313,15.79339 27.45313,35.06941c-0.00392,20.78202 -12.90297,35.29688 -31.375,35.29688z"></path><rect x="40" y="31" transform="scale(3.92188,3.92188)" width="2" height="14"></rect></g></g>
                        </svg>
                        <h5>Ремонт и обслуживание медтехники</h5>
                        <p>Наши услуги ориентированы на медицинские учреждения самой различной специализации и масштабов деятельности: государственные и частные клиники, консультационные центры. Мы осуществляем гарантийные и сервисные работы, соответствующие международным стандартам качества, надежности и безопасности.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-7 pr-5">
                    <h2>О нас</h2>
                    <p class="lead">Наше предприятие осуществляет как разовые ремонтные работы, так и берет на себя обязательства по проведению ТО и плановых диагностических мероприятий для медицинских учреждений, а также ремонт медтехники. На нашем сайте можно подробно ознакомиться с предлагаемых услугами.</p>
                    <p class="lead">Специалисты нашего предприятия оказывают квалифицированные услуги по диагностике, техническому обслуживанию и текущему или капитальному ремонту медицинского оборудования, а также по наладке и монтажу нового медицинского оборудования. Мы осуществляем ремонт медицинского оборудования в гарантийный и постгарантийный период.</p>
                </div>
                <div class="col-md-5 responsive-container">
                    <div class="dummy"></div>
                    <div class="img-container">
                        <%= image_tag("engineer.jpg") %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>