<main class="contacts">
    <div class="container lead address p-5">
        <div class="row">
            <div class="col-md-12 text-center topic">
                <h1>Наши контакты и адреса</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <p><strong>ГУП РК «Медтехника»</strong></p>
                <p><strong>Адрес:</strong></p>
                <p class="nested-p">185002, РК, г. Петрозаводск, ул. Пирогова, д. 6А</p>
                <p><strong>Телефоны:</strong></p>
                <p class="nested-p">Приемная/факс: (8142) 76-43-01</p>
                <p class="nested-p">Магазин/диспетчер: (8142) 76-43-32</p>
                <p class="nested-p">Торговый отдел: (8142) 78-50-48</p>
                <p><strong>E-mail:</strong></p>
                <p class="nested-p e-mail"><a href="mailto:guprkmedtehnika@yandex.ru">guprkmedtehnika@yandex.ru</a></p>
                <p><strong>Режим работы:</strong></p>
                <p class="nested-p">ПН-ПТ: с 08:30 до 17:00</p>
                <p class="nested-p">СБ-ВС: выходные дни</p>
                <p><strong>Социальные сети:</strong></p>
                <p class="nested-p"><a href="https://vk.com/medtech_karelia" target="_blank">vk.com/medtech_karelia</a></p>
            </div>
            <div class="col-md-7">
                <div id="map"></div>
            </div>
    </div>
</main>