<main class="history">
    <section class="chapter chapter-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topic">
                    <h1>История нашего предприятия</h1>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 lead">
                    <p>Мастерская по ремонту медооборудования, так ранее называлось наше предприятие, была организована в 1955 году при Карельском аптекоуправлении по распоряжению министерства здравоохранения КФССР.</p>
                    <p>Первым директором, организатором, был <strong>Дегтев Иван Петрович</strong>.</p>
                    <p>Штат работников мастерской составлял 5 человек.</p>
                </div>
                <div class="col-md-6">
                    <%= image_tag("Photo-1.jpg") %>
                </div>
            </div>
        </div>
    </section>

    <section class="chapter chapter-2">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 lead">
                    <p>В 1960 году мастерской было выделено помещение в подвале Республиканской больницы, где сейчас находится центр УЗИ. Возглавил мастерскую на новом месте <strong>Лев Николаевич Иванов</strong>. Штат мастерской был увеличен до 12 человек. Этот небольшой коллектив обслуживал все лечебные учреждения Республики. Со слов старых работников они не менее 15-17 дней находились в командировках ежемесячно.</p>
                    <p>За каждым медтехником, так назывались раньше наши специалисты, были закреплены определенные районы. Приборов и инструментов практически не было. Необходимый инструмент изготовляли сами. Вместо измерительных приборов были мельницы со вставленной батарейкой и головкой прибора от какого-нибудь аппарата.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <%= image_tag("Photo-2.jpg") %>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="chapter chapter-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag("Photo-3.jpg") %>
                </div>
                <div class="col-md-6 lead">
                    <p>При выезде в командировку ночевали в физио- или рентген-кабинетах. Это позволяло нашим предшественникам работать и в вечернее время. Медработники отдыхали, а это время для наших специалистов, как они отмечали, было самое плодотворное, когда никто не мешал.</p>
                    <p>Работали по сдельной системе оплате труда и поэтому брались за любую работу. Учитывая, что наши специалисты были с большим жизненным опытом, то они выполняли в больницах работы и по сантехнике, и слесарные работы и работы по ремонту радио и теле-аппаратуры и многое другое. Они понимали, что в лечебных учреждениях кроме них эту работу делать некому.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 lead">
                    <p>Первым филиалом, открытым в 60-е годы, был филиал в г.Сортавала, где вначале работал только один медтехник <strong>Ляхов Константин</strong>, а затем количество работающих в 70-е годы возросло до 5-ти человек.</p>
                    <p>Большую лепту в развитие предприятия внес директор <strong>Заикин Леонид Иванович</strong>, который руководил предприятием с 1969 года по 1978 год.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="chapter chapter-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 lead ">
                    <p class="quote">«И мы с <strong>Леонидом Ивановичем</strong>, (я тогда работал инженером предприятия) поставили перед собой несколько основных целей. Одна из них — улучшение условий работы наших электромехаников. Так например для того, чтобы наши специалисты реже выезжали в командировки и больше находились вместе с семьей, нами были открыты филиалы в Сегеже, Кеми, Олонце, Пудоже, Суоярви, Беломорске, Медвежьегорске, т.е. практически во всех районах Республики.»</p>
                    <p class="quote-author">一 Константн Ляхов</p>
                </div>

                <div class="col-md-6">
                    <%= image_tag("Photo-4.jpg") %>
                </div>
                
            </div>
        </div>
    </section>

    <section class="chapter chapter-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 lead ">
                    <p>Одной из главных задач было: обеспечение работников предприятия необходимыми электроизмерительными приборами, инструментами, спецодеждой, оборудование рабочих мест всем необходимым.</p>
                    <p>Впервые в нашей системе появилось такое название как ПТО, т.е. пункт технического обслуживания, который находился при лечебном учреждении т.е. электромеханики были максимально приближены к рабочим объектам.</p>
                    <p>Электромеханикам уже не надо было идти на предприятие и отмечаться о выходе на работу, они звонили диспетчеру, говорили где они находятся и одновременно получали заявки на ремонт оборудования.</p>
                    <p>Многие из электромехаников поступили и закончили заочно Ленинградский электромедицинский техникум. Систематически мы проводили мастерклассы и ликбезы по новому оборудованию, способствующие общему поднятию уровня знаний.</p>
                    <p>В 80-е годы предприятие выпускало много нестандартного оборудования: переговорные устройства для рентгеновских кабинетов и палат, алюминиевые штативы для пробирок и переливания крови, вытяжные шкафы, бутылоопрокидыватели и т.д.</p>
                    <p>С 1992 года объединение “Медтехника” распалось на магазин “Медтехторг” и предприятие Медтехника.</p>
                </div>
            </div>
        </div>
    </section>
</main>