<div class="card card-login">
  <div class="card-header">
    <h5 class="modal-title">
    	Изменение данных профиля
    </h5>
  </div>

  <div class="card-body">

    <%= render 'admin_edit/form' %>
    
  </div>
</div>