<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <%= link_to "Панель", manager_path, class: 'link' %>
    </li>
    <li class="breadcrumb-item active">
        <%= yield(:title) %>
    </li>
</ol>