<% provide(:title, "О панели") %>

<div class="row">
  <div class="col-md-12">
    <h1 class="greeting-panel text-center">Здравствуйте! Вы находитесь в панеле управления сайтом Медтехники</h1>
    <p>Для вас доступны следующие функции:</p>
    <ul>
      <li>
        <strong>Добавление / редактирование / удаление категорий товаров.</strong> 
        <p>
          Обратите внимание, каждая категория должна иметь уникальнаое название; каждому товару может соответсвовать лишь одна категория!
        </p>
      </li>
      <li>
        <strong>Добавление / редактирование / удаление самих товаров.</strong> 
        <p>
          Пожалуйста, старайтесь загружать фотографии к товарам в разрешении не ниже 300х300, чтобы страницы товаров выглядели качественно. Если фотографии нет и она не была загружена вовсе, то на ее месте появится "заглушка".
        </p>
      </li>
    </ul>
    <p>По всем вопросам и предложениям, связанным с сайтом и панелью управления, пожалуйста, не стесняйтесь связываться с разработчиком:</p>
    <ul>
      <li><strong>E-mail:</strong> <a href="mailto:r.alenskiy@mail.ru" class="link" target="_blank">r.alenskiy@mail.ru</a></li>
      <li><strong>VK:</strong> <a href="https://vk.com/thecrueladdict" class="link" target="_blank">vk.com/thecrueladdict</a></li>
    </ul>
  </div>
</div>