/* 
* General
*/
html, body {
    height: 100%;
  }

.main h1, h2, h3, h4 {
    font-weight: 600;
}

.e-mail {
    a {
        color: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
    }

    a:hover {
        text-decoration: none;
        color: #a91131;
        transition: 0.5s;
    }
}

/* 
* Header
*/
.company-logo {
    height: 30px;
    width: 30px;
}

.navbar-brand {
    color:white;
}

.navbar-brand:hover {
    color:white;
}

.navbar-2{
    background-color: #a91131;
    .nav-link {
        color: rgba(255, 255, 255, 0.8);
    }

    .nav-link:hover {
        color: rgba(255, 255, 255, 0.9);
    }

    .nav-item {
        transition: 0.5s;
    }
    
    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.219);
        transition: 0.5s;
    }
}

.navbar-1 {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);

    nav {
        padding-top: 55px;
    }
}

/* 
* Footer
*/

footer {
    background-color: #a91131;
    color: white;
    padding-top: 16px;
}

.social {
    padding-bottom: 10px;
    text-align: right;
    margin-bottom: 16px; 
}

/* 
* About
*/

.about .btn {
    color: #a91131;
}

.carousel-item img{
    width: 100%;
}

.carousel-caption h1 {
    font-size: 75px;
    margin-bottom: 30px;
}

.carousel-caption p {
    font-size: 22px;
}

.caption {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.we-do {
    padding: 100px 0;
}

.we-do p {
    font-weight: 300;
    font-size: 1rem;
}

.we-do-details {
    padding-top: 60px;
}

.we-do-description {
    transition: 0.5s;
}

.we-do-description:hover {
    box-shadow: 0 5px 20px rgba(79, 93, 155, 0.4);
    opacity: 1;
    transition: 0.5s;
}

.about-us {
    background-color: #f1f1f1;
    padding: 100px 0;
    text-align: justify;
}

.about-us-description {
    padding-right: 30px;
}

.recycle-icon {
    margin-top: 5px;
}

.recycle-topic {
    margin-top: -5px;
}

    // This style block need for verticle responsive centering of image: https://stackoverflow.com/a/18516474/9295723, http://jsfiddle.net/hashem/46psK/3/

    .responsive-container {
        position: relative;
        width: 100%;
    }

    .dummy {
        padding-top: 100%; /* forces 1:1 aspect ratio */
    }

    .img-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        text-align:center; /* Align center inline elements */
        font: 0/0 a;
    }

    .img-container:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .img-container img {
        vertical-align: middle;
        display: inline-block;
        box-shadow: 0 5px 20px rgba(79, 93, 155, 0.4);
        width: 100%;
    }



/*
* History
*/

.history {
    padding-top: 70px;
    text-align: justify;    
}

.history img {
    box-shadow: 0 5px 20px rgba(79, 93, 155, 0.4);
    width: 100%;
}

.topic {
    padding-bottom: 75px;
}

.chapter {
    padding: 60px 0;
}

.chapter-2 {
    background-color:  #f1f1f1;
} 

.chapter-4 {
    background-color: #a91131;
    color: white;
}

.quote {
    font-style: italic;
    border-left: 2px solid;
    padding: 10px 0 10px 20px;
}

.quote-author {
    font-style: italic;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}

/*
* Contacts
*/

.contacts {
    padding:70px 0;
    background-color: #f1f1f1;

    p {
        font-size: 1rem;
    }
}

.nested-p {
    margin-left: 20px;
}

.address {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(79, 93, 155, 0.4);
}

#map {
    width: 100%;
    height: 475px;
}

/*
* Categories
*/

.category {
    padding-top: 70px;
    padding-bottom: 50px;
}

.card {
    transition: 0.5s;

    a {
        color: #212529;
        transition: 0.3s;
    }

    a:hover {
        text-decoration: none;
        color: #d81640;
        transition: 0.3s;
    }
    
    img {
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0 5px 20px rgba(79, 93, 155, 0.2);
    opacity: 1;
    transition: 0.5s;
}

.product-card {
    margin-bottom: 20px;
}

.product-card-picture-container {
    height: 310px;
    padding: 5px;
}

/* 
* Products
*/

.product {
    
    img {
        width: 100%;
    }
}

.product-name {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.product-picture-container {
    width: 350px;
    height: 350px;
}

.product-main {
    padding-top: 70px;
    padding-bottom: 60px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(79, 93, 155, 0.2);
}

.product-description {
    padding: 60px 0;
    background-color: #80808007;
}

.product-description-topic {
    padding-bottom: 35px;
}

.product-price {
    text-align: end;
}