<main class="category">
    <div class="container">
            <div class="row">
                <div class="col-md-12 topic">
                    <h1><%= @category.name %></h1>
                </div>
            </div>
        <div class="row">
            <%= render @products %>
        </div>
    </div>  
</main>