<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 copyright">
                <p>© 2018 ГУП РК Медтехника</p>
            </div>
        </div>
    </div>
</footer>