<header>
    <nav class="navbar fixed-top navbar-expand-sm py-0">
        
        <ul class="navbar-nav container d-flex flex-column flex-md-row  justify-content-between">
            <a href="#" class="navbar-brand">
                <%= image_tag("MT_logo.png", alt: "Logo", class: "d-inline-block align-top logo") %>
                Медтехника
            </a>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">О компании</a>
            </li>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">Услуги</a>
            </li>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">Продукция</a>
            </li>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">Online-заявка</a>
            </li>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">История</a>
            </li>
            <li class="nav-item py-1">
                <a href="#" class="nav-link">Контакты</a>
            </li>
        </ul>
    </nav>
</header>